@media (min-width: 1120px) {
    body {
        background-color: #F8F8F8;
        margin: 0;
        padding: 0;
        min-height: 100vh;
        overflow-y: auto;
        display: flex;
        flex-direction: row;
        gap: 0;
    }

    .menu-section {
        width: 306px;
        min-width: 306px;
        background-color: white;
        height: 100%;
        position: fixed;
    }

    .content-section {
        flex: 1;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        margin-left: 306px;
        /* Width of the menu */
    }

    .container__header_768,
    .container__mainBodyHeader {
        display: none;
    }

    .container__header_1120 {
        display: flex;
        justify-content: space-between;
        color: #1B1C21;
        align-items: center;
        height: 88px;
        background: #ffffff;
        background-color: #F8F8F8;
        width: 100%;
        position: relative;
        min-width: fit-content;
        top: 6px;
    }

    .mainBody {
        width: 100%;
        overflow-x: hidden;

    }

    .container__header__leftIcons {
        background-color: #F8F8F8;
        display: flex;
        justify-content: space-around;
        gap: 30px;
    }

    .container__header__rightIcons {
        background-color: #F8F8F8;
    }

    .divs {
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        font-family: 'TT Lakes', sans-serif;

    }

    .pannel {
        overflow: scroll;
        flex-wrap: wrap;
        justify-content: start;
        gap: 16px;
    }

    .info-block {
        max-width: fit-content;
    }

    .pannel-item {
        letter-spacing: 0.2px;
        font-size: 16px;
        padding-top: 0;

    }
    .pannel-item:first-child {
        padding-top: 10px;
    }

    .mainImg {
        border-radius: 5px;
    }

    .lable1120 {
        display: inline;
    }

    .menuContainer {
        z-index: 2000;
        pointer-events: auto;
        box-shadow: none;
        border: none ! important;
    }

    #closeMenu {
        display: none;
    }

    #sideMenu {
        max-width: 277px;
    }

    .menuContainer__body {
        gap: 20px;
    }

    .menuContainer::backdrop {
        background: none;
        pointer-events: none;
        /* Allows clicks to pass through */
    }

    .backdrop.active {
        pointer-events: none;
        /* Allows clicks to pass through */
        background: none;
        z-index: 1000;
        /* Lower than menu */
    }
    .bodyAndFooter{
        height: 96.5%;
    }

    /* ******************************************** swiper ******************************************** */
    .swiper-content {
        width: 100%;
    }

    .content320 {
        display: none;
    }

    #myH1 {

        left: 32px;
    }

    .topLine {
        width: 1120px;
    }

    .f_footer {

        left: 32px;
    }

    .f_body--images {
        grid-template-columns: repeat(auto-fit, 240px);
        column-gap: 32px;
    }
    .menu-section {
        width: 277px;
        background-color: white;

    }

    .menuContainer {
        box-shadow: none;
        height: 100%;
    }

    #sideMenu {
        position: static;
        height: 100%;
        margin: 0;
        padding: 0;
        padding-top: 32px;
        border: none;
        overflow-y: hidden;
        scroll-behavior: unset;
    }

    .menuContainer__footer {
        padding-bottom: 30px;
    }

    // Footer {
    //     width: 80%;
    // }

    /* Table styles for desktop */
    table {
        width: 95%;
        left: 32px;
    }

    tbody tr:not(:first-child):not(:last-child)::after {
        left: 2%;
        width: 95%;
    }

    table td:last-child {
        padding-right: 24px;
    }

    /* Improve table layout for larger screens */
    th:last-child,
    td:last-child {
        text-align: right;
    }

    th:nth-child(2),
    td:nth-child(2),
    th:nth-child(3),
    td:nth-child(3) {
        text-align: center;
    }
}
.first-swiper-slide{
    max-width: 240px;}